# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Data & outputs (do not commit)
data/
outputs/

# Power BI temp files
*.pbix~
*.tmp

# OS files
.DS_Store
Thumbs.db
